#!/bin/bash
###########################
# Author : DJERBI Florian
# Object : Management a website with zabbix discovery
# Creation Date : 08/02/2023
# Modification Date : 08/02/2023
###########################

#
# VARIABLES
#

# Colors
_red='\033[1;31m'
_green='\033[0;32m'
_blue='\033[0;34m'
_reset='\033[0m'

# DB
PATH=/usr/sbin:/usr/bin:/sbin:/bin
db_database="zabbix_web" # Edit if needed
db_user="zabbix_web" # Edit if needed
db_password="" # Your password

# Others
log_file=""

